{{template "base" .}}

{{define "content"}}

        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <img src="./images/recycle.gif" width="80%">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div class="w-50 p-3">
                            <hr>
                            <h2>Add Sponsor Fund</h2>
                            <form action="/deposit" method="post" >

                                <div class="row mb-3" >
                                    <label for="inputSponsorNameOrUserID" class="col-sm-2 col-form-label">Sponsor Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="SponsorNameOrUserID" class="form-control" id="inputSponsorNameOrUserID">
                                    </div>
                                </div>
                                <div class="row mb-3" >
                                    <label for="inputSponsorIDOrVID" class="col-sm-2 col-form-label">Unique Sponsor ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="SponsorIDOrVID" class="form-control" id="inputSponsorIDOrVID">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputAmount" class="col-sm-2 col-form-label">Amount</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="Amount" class="form-control" id="inputAmount">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{{end}}