{{template "base" .}}

{{define "content"}}


        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <b>Recent Created Voucher</b>
                    <table class="table table-striped table border">
                        <thead>
                        <tr>

                            <th>Voucher VID</th>
                            <th>Created Date:Time</th>
                            <th>Value</th>
                            <th>User</th>


                        </tr>
                        </thead>
                        <tbody>

                        {{$res := index .Data "created"}}

                        {{range $res}}

                            <tr>
                                <td>{{.VID}}</td>
                                <td>{{.CreatedDate}}</td>
                                <td>${{.VoucherValue}}</td>
                                <td>{{.UserID}}</td>

                            </tr>

                        {{end}}

                        </tbody>
                    </table>
                </div>
                <div class="col">

                    <b>Recent Used Voucher</b>
                    <table class="table table-striped table border">
                        <thead>
                        <tr>

                            <th>Voucher VID</th>
                            <th>Spend Date:Time</th>
                            <th>Value</th>
                            <th>Branch Code</th>


                        </tr>
                        </thead>
                        <tbody>

                        {{$res2 := index .Data "used"}}

                        {{range $res2}}

                            <tr>

                                <td>{{.VID}}</td>
                                <td>{{.RedeemedDate}}</td>
                                <td>${{.VoucherValue}}</td>
                                <td>{{.Branch}}</td>

                            </tr>

                        {{end}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{{end}}